  		{% include newsletter.html %}
  </main>
  <footer>
  	<div>
	  	<div>
	  		<img src='/assets/logo.svg' width='334' alt='SignPath'/>
	  		<svg viewBox="0 0 244 18">
			  <text x="0" y="15">CODE SIGNING SIMPLE &amp; SECURE</text>
			</svg>
	  		<div>
				<a target="_blank" href="https://twitter.com/SignPathIO/" rel="noopener noreferrer">
					<i class="la la-twitter"></i>
				</a>
				&nbsp;&nbsp;
				<a target="_blank" href="mailto:info@signpath.io" rel="noopener noreferrer">
					<i class="la la-envelope"></i>
				</a>
			</div>
	  	</div>
	  	<div>
	  		<a href='/privacy-policy'>Privacy Policy</a>
	  		<a href='/terms-of-service'>Terms of Service</a>
	  		<a href='/status'>Status</a>
	  	</div>
	</div>
  </footer>
  <div id='cookie-info'>
  	<span>We only use cookies necessary for providing our services. You can read more in our <a href='/privacy-policy'>Privacy Policy</a>.</span><button class='btn btn-secondary' id='acknowledge-cookies-btn'>Acknowledge</button>
  </div>
</body>
</html>