  		{% include newsletter.html %}
  </main>
  <footer>
  	<div>
	  	<div>
	  		<img src='/assets/logo.svg' width='334' alt='SignPath'/>
	  		<span>CODE SIGNING SIMPLE &amp; SECURE</span>
	  		<div>
				<a target="_blank" href="https://twitter.com/SignPathIO/" rel="noopener noreferrer">
					<i class="la la-twitter"></i>
				</a>
				&nbsp;&nbsp;
				<a target="_blank" href="mailto:office@signpath.io" rel="noopener noreferrer">
					<i class="la la-envelope"></i>
				</a>
			</div>
	  	</div>
	  	<div>
	  		<a href='/privacy-policy'>Privacy Policy</a>
	  		<a href='/terms-of-services'>Terms of Services</a>
	  	</div>
	</div>
  </footer>
</body>
</html>