  		{% include newsletter.html %}
  </main>
  <footer>
  	<div>
	  	<div>
	  		<img src='/assets/logo.svg' width="334" height="67" alt='SignPath'/>
	  		<svg viewBox="0 0 244 18">
			  <text x="0" y="15">CODE SIGNING SIMPLE &amp; SECURE</text>
			</svg>
	  		<div>
				<a target="_blank" href="https://twitter.com/SignPathIO/" rel="noopener noreferrer">
					<i class="la la-twitter"></i>
				</a>
				&nbsp;&nbsp;
				<a target="_blank" href="mailto:info@signpath.io" rel="noopener noreferrer">
					<i class="la la-envelope"></i>
				</a>
			</div>
	  	</div>
	  	<div>
	  		<a href='/privacy-policy'>Privacy Policy</a>
	  		<a href='/terms-of-service'>Terms of Service</a>
	  		<a href='/status'>Status</a>
	  	</div>
	</div>
  </footer>
		<div id='cookie-info'>
			<h3>Cookie settings</h3>
			<p>We use cookies to enhance your browsing experience. By clicking the “Accept All” button below, you
				consent to
				the use of essential and non-essential cookies. Please note that essential cookies cannot be rejected
				and will
				be set regardless of your consent.
				Some of our partner services are in the USA. According to the European Court of Justice, there is
				currently no
				adequate level of data protection in the USA. By clicking on "Accept All", you agree that cookies on our
				website may be used by us and by third parties in the USA. Learn more about our cookies in our <a
						href='/privacy-policy'>Privacy
					Policy</a>
			</p>
			<div class="actions">
				<button class='btn btn-primary' id='acknowledge-cookies-btn'>Accept all cookies</button>
				<button class="btn btn-grey" id='refuse-cookies-btn'>Refuse</button>
			</div>
		</div>
</body>
</html>
