*.card-container {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	justify-content: center;

	& > * {
		border: 1px solid $grey-border-color;
		border-radius: $border-radius;
		max-width: 340px;
		background: $white-background-color;
		box-shadow: $shadow;
		padding: 0px;
		margin-left: 20px;
		margin-bottom: 20px;

		&:first-child {
			margin-left: 0px;
		}

		& > *:first-child { /* was: *.header */
			display: block;
			color: $white-font-color;
			background-size: cover;
			padding: 60px 20px;
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;

			/* was: h3 */
			margin: 0px;

			/* copied from h3 */
			font-size: 1.5em;
			text-align: center;

			& > a {
				color: inherit;
			}
		}

		& > *:not(:first-child) { /* was: div.body */
			padding: 0 20px 0 20px;
		}
	}
}

@media only screen and (max-width: 740px) { /* = 20px margin + 340px card + 20px space + 340px card + 20px margin */
	*.card-container > *.card {
		max-width: none;
		margin-left: 0px;
	}
}