section.infosec-section {
	svg {
		width: 100%;
	}

	svg.devops {
		max-width: 400px;
	}

	svg.chain {
		max-width: 300px;
	}

	svg.incident-management {
		max-width: 300px;
	}
}

svg.chain {
	path {
		fill: #263238;;
	}

	path.orange {
		fill: #00b1e6;
	}
}

svg.incident-management {
	path.ring {
		stroke: #263238;
	}
	
	path.ring.outer {
		fill: #bff0ff;
	}

	path.ring.middle {
		fill: #22ccff;
	}

	path.ring.inner {
		fill: #006a8a;
	}

	path.lock {
		fill: #ffffff;
		stroke: #ffffff;

		&.hole {
			fill: #006a8a;
		}
	}
}

@media only screen and (max-width: 1000px) {
	section.infosec-section {
		svg {
			width: 80%;
		}
	}
}