section.job-section {
	& > div {
		text-align: left;
		padding-top: 10px;
		padding-bottom: 10px;
        & > p {
            text-align: left;
        }
    }
}

section.job-section img {
    max-width: 100%;
}

section.job-section ul {
	& > li {
		padding-bottom: 0.5em;
	}

}

div.job-benefits-list {
    padding: 0;
    background-color: $light-grey-background-color;

    & > div {
        margin: 1em;
        

        h2 {
            margin-top: 0;
        }
        ul {
            list-style: none;
            position: relative;
            padding: 0px;
            width: 100%;
        
            & > li {
                padding-left: 2.5em;
                padding-right: 0.5em;
                padding-bottom: 0.5em;
                word-break: break-word;
            }

            & > li:before {
                left: 1em;
                position: absolute;
                font-family: "Line Awesome Free";
                font-weight: 800;
                content: "\f00c";
            }
        }
    }
}

