/*
*
* GENERAL STYLES
*
*/
html {
	font-size: 100%;
}

body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.65;
	color: #000;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #0081b4;
}

header > div, main > section > div {
	max-width: 1170px;
}

h1, h2, h3, h4, h5 {
	font-weight: 400;
}

/*
*
* BUTTONS
*
*/

button {
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
}

a.btn, button.btn {
	display: inline-block;
	padding: 6px 20px;
	border: 1px solid transparent;
	color: inherit;
}

a.btn-flat {
	border: 1px solid #fff;

	&:hover {
		color: #000;
		background-color: #fff;	
	}
}

a.btn-primary {
	background-color: #faac14;
	color: #fff;

	&:hover {
		background-color: #c6860f;
	}
}

a.btn-secondary, button.btn-secondary {
	background-color: #22ccff;

	&:hover {
		background-color: #faac14;
	}
}

/*
*
* SECTIONS
*
*/

main {
	margin-top: -80px; /** see header height **/
	& > section {
		display: flex;
		justify-content: center;

		&:first-child > div {
			margin-top: 80px; /** see header height **/ 
		}

		& > div {
			padding: 80px 40px;
			width: 100%;

			& > h2 {
				font-size: 2em;
				text-align: center;
				margin-top: 0px;
			}

			h3 {
				font-size: 1.5em;
				text-align: center;
			}

			span.subtitle {
				text-align: center;
				display: block;
			}
		}
	}
}

section.bg-image {
	background-position: 50% 50%;
	background-size: cover;
}

section.bg-blue {
	background-image: linear-gradient(80deg, #006a8a 0%, #22ccff 100%);
}

section.bg-black {
	background-color: #263238;
}

section.bg-grey {
	background-color: #eceff1;
}

section.bg-dark-grey {
	background-color: #455a64;
}

section.font-white {
	color: #fff;
}

section.top-section > div {
	padding-bottom: 50px;
	padding-top: 120px;

	& > h1 {
		font-size: 3em;
		margin: 0px;
		text-align: left;
	}

	& > p {
		font-size: 1.2em;
	}
}

/**
 *
 * newsletter
 *
 */
main > section.newsletter {
	& > div {
		padding-top: 30px;
		text-align: center;

		& > form {
			display: block;
			display: flex;
			justify-content: center;
			align-items: center;

			& > * {
				margin: 10px;
			}

			input {
				width: 80%;
				max-width: 240px;
				padding: 10px;
				font-size: 1em;
			}
		}
	}
}

/**
 *
 * 404 error
 *
 */
section.error404 {
 	& > div {
 		text-align: center;

 		& > h1 {
 			font-size: 4em;
 		}

 		& > p {
 			font-size: 2em;
 		}
 	}
}

/**
 * COLUMNS
 */
div.columns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;

	& > * {
		flex: 1 1 0;
		min-width: 240px;
		margin: 1em 20px;
	}

	ul {
		display: inline-block;
	}
}

/**
 * Icons
 */
i.la {
	&.header {
		font-size: 3em;

		& ~ h3 {
			margin-top: 0px;
		}
	}

	&.blue {
		color: #00b1e6;
	}
}


@media only screen and (max-width: 1000px) {
	section.top-section > div {

		& > h1 {
			font-size: 2em;
		}

		& > p {
			font-size: 1em;
		}
	}

	main > section.newsletter > div > form {
		flex-direction: column;


	}
}