
div.accordion {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& > a {
		display: block;
		margin: 20px;
		flex-basis: 33%;
		color: inherit;
		border: 1px solid $light-grey-border-color;
		border-radius: $border-radius;
		box-shadow: $shadow;
		min-width: 280px;
		max-width: 320px;

		& > div {
			margin: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;

			& > img {
				margin: 0 20px;
				max-height: 60px;
			}

			& > h3 {
				margin: 10px 0px;
				font-size: 1.2em;
			}

			& > p {
				text-align: center;
			}
		}
	}
}

section.oss-section {
	& > div > div {
		display: flex;

		& > i {
			font-size: 6em;
			align-self: center;
			min-width: 240px;
			text-align: center;
		}

		& > p {
			min-width: 300px;
		}
	}
}

@media only screen and (max-width: 1000px) {
	section.oss-section > div > div {
		flex-direction: column;
		align-items: center;
	}
}