section.pricing-start {
	background-image: url('../img/pricing.jpg');

	& > div > h1 {
			text-align: center;
	}

	& > div > h3 {
		text-align: center;
	}
}

section.pricing {
	& > div {
		padding: 40px;
	}

	& > div > div.selector {
		background-color: $medium-grey-background-color;
		color: $white-font-color;
		box-shadow: $shadow;
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: stretch;
		max-width: 600px;
		
		a {
			color: $white-font-color;
			line-height: 100%;
			padding: 1em 1em;
			display: block;
			border-left: 1px solid $light-grey-border-color;
			white-space: nowrap;
			width: 60%;
			max-width: 200px;
			text-align: center;
			box-sizing: border-box;
			margin-left: 2em;
		}

		a:hover {
			background-color: $dark-grey-background-color;
		}

		& > div.toggle {
			margin: 10px 0px;
		}
	}

	& > div > div.products-table {
		display: flex;
		align-items: flex-start;
		margin-top: 20px;

		& > div {
			background-color: $white-background-color;
			border-radius: 6px;
			box-shadow: $shadow;

			& > ul.body {
				list-style-type: none;
				margin: 0px;
				padding: 0px 20px;

				& > li {
					padding: 10px;
					text-align: center;
					border-bottom: 1px solid $light-grey-border-color;

					&:last-child {
						border-bottom: 0px solid transparent;
					}
				}
			}
		}

		& > div.product {
			flex-grow: 1;
			flex-basis: 15%;
			margin-left: 10px;

			& > div.header {
				color: #fff;
				border-top-left-radius: inherit;
				border-top-right-radius: inherit;
				position: relative;

				& > h2 {
					margin: 0px;
					text-transform: uppercase;
					font-size: 1.2em;
					line-height: 2em;
					padding: 4px;
					margin: 0em 3em;
					padding-top: 12px;
					text-align: center;
					border-bottom: 1px solid $light-grey-border-color;
				}

				& > h3 {
					margin: 0px;
					font-size: 1.8em;
					padding: 10px 10px;
					line-height: 1.8em;
					text-align: center;
				}

				&.edition > h2 {
					text-transform: none;
					font-size: 1.8em;
				}
			}

			& > ul > li > div.sub {
				color: $dark-grey-font-color;
				font-size: 0.8em;
			}

			& > a.footer {
				display: block;
				text-align: center;
				font-size: 1.2em;
			}

			&:nth-child(1) > div.header { background-color: $pricing4-background-color; } // start with 2nd, because top is first child
			&:nth-child(2) > div.header { background-color: $pricing3-background-color; }
			&:nth-child(3) > div.header { background-color: $pricing2-background-color; }
			&:nth-child(4) > div.header { background-color: $pricing1-background-color; }
		}
	}
}

div.toggle {
	display: block;
	width: 100%;
	max-width: 300px;
	text-align: center;

	& > label {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 1em;

		& > input {
			position: absolute;
			left: 50%;
			top: 0px;
			width: 0;
			height: 0;
			font-size: 1em;
			margin: 0px;
			color: $white-font-color;
			opacity: 0;

			&:checked {

				& + span:before {
					transform: translateX(28px);
				}

				& ~ div:before {
					color: $blue-font-color;
				}

				& ~ div:after {
					color: inherit;
				}
			}
		}

		& > div {
			position: absolute;
			left: 50%;
			top: 0px;
			width: 0px;
			height: 0px;
			font-size: 1em;
			line-height: 1em;
			color: $white-font-color;

			&:before {
				position: absolute;
				right: 35px;
				left: -160px;
				width: auto;
				top: calc( (1.4em - 1em) / 2);
				text-align: right;
				content: attr(data-before);
				font-weight: bold;
			}

			&:after {
				color: $blue-font-color;
				position: absolute;
				text-align: left;
				left: 35px;
				right: -160px;
				top: calc( (1.4em - 1em) / 2);
				content: attr(data-after);
				opacity: 1;
				font-weight: bold;
			}
		}
		
		& > span {
			position: absolute;
			cursor: pointer;
			top: 0px;
			left: calc(50% - 25px);
			right: 0;
			bottom: 0;
			background-color: $secondary-color;
			transition: .4s;
			border-radius: 1.4em;
			width: 50px;
			height: 1.4em;
		
			&:before {
				content: '';
				position: absolute;
				height: calc(1.4em - 4px);
				width: calc(1.4em - 4px);
				left: 2px;
				bottom: 2px;
				background-color: $white-background-color;
				transition: .4s;
				border-radius: 50%;
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	section.pricing > div {
		padding: 20px;

		& > div.selector {
			flex-direction: column;		

			a {
				border-left: 0px solid transparent;
				border-top: 1px solid $light-grey-border-color;
				margin-left: 0px;
				width: 100%;
				max-width: none;
			}
		}

		& > div.products-table {
			flex-direction: column;
		
			& > div.product {
				margin-top: 20px;
				margin-left: 0px;
				width: 100%;

				& > a {
					border-bottom-right-radius: inherit;
					border-bottom-left-radius: inherit;
				}
			}
		}
	}
}