div.column-layout {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	div.col {
		box-shadow: $shadow;
		border-radius: 6px;

		ul {
			background-color: $white-background-color;
			list-style-type: none;
			margin: 0px;
			padding: 0px;

			& > li {
				padding: 10px 1em;
				position: relative;
				box-sizing: border-box;

				&.first-after-header {
					margin-top: calc(1em + 30px);

					&.first-after-main-header {
						margin-top: 0px;
					}
				}


				&:after {
					content: '';
					position: absolute;
					bottom: 0px;
					left: 20px;
					right: 20px;
					height: 1px;
					background-color: $light-grey-border-color;
				}

				&:last-child:after {
					display: none;
				}

				&.head {
					background-color: $medium-grey-background-color;
					color: $white-font-color;

					&:after {
						display: none;
					}

					a {
						color: $light-blue-font-color;
					}
				}

				span.sub {
					font-size: 0.8em;
					color: $dark-grey-font-color;
				}

				i.la-check {
					color: $green-line-color;
					font-size: 1.4em;
					line-height: 1rem;
				}

				i.la-times {
					color: $red-line-color;
				}

				i.la-info-circle {
					color: $blue-line-color;
				}
			}
		}
	}

	div.features {
		flex-grow: 2;
		flex-basis: 25%;
		min-width: 250px;
		
		span.sub {
			display: flex;
			float: right;
			margin-left: 1em;
			margin-top: -0.5em;
			text-align: right;
			height: 2.65em;
			align-items: center;
		}

		ul {
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
		}

		ul > li {
			&:first-child {
				border-top-left-radius: inherit;
				border-top-right-radius: inherit;
			}

			&:nth-last-child(2):after {
				display: block;
			}

			&.sub {
				text-align: right;
				font-style: italic;
			}
		}
	}

	div.content {
		flex-grow: 1;
		flex-basis: 15%;
		margin-left: 20px;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;

		h2, h3 {
			text-transform: uppercase;
			color: $white-font-color;
			display: block;
			margin: 0px;
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
		}

		h3 {
			padding: 1em;
			text-align: center;
			white-space: nowrap;
		}

		&:nth-child(2) > *:first-child { background-color: $pricing4-background-color; }
		&:nth-child(3) > *:first-child { background-color: $pricing3-background-color; }
		&:nth-child(4) > *:first-child { background-color: $pricing2-background-color; }
		&:nth-child(5) > *:first-child { background-color: $pricing1-background-color; }
		&:nth-child(6) > *:first-child { background-color: $dark-grey-background-color; }
	
		ul > li {
			text-align: center;

			&.f {
				display: none;
			}

			span.sub {
				display: block;
			}
		}

		a.btn {
			color: $white-font-color;
			display: block;
			padding: 6px 12px;
			text-align: center;
			font-size: 1.2em;
			background-color: $primary-color;
			box-shadow: $shadow;
			border-bottom-right-radius: inherit;
			border-bottom-left-radius: inherit;

			&:hover {
				background-color: $primary-darker-color;
			}

			&:nth-of-type(2) {
				margin-top: 10px;
				background-color: $secondary-color;
				border-top-left-radius: inherit;
				border-top-right-radius: inherit;

				&:hover {
					background-color: $dark-blue-background-color;
				}
			}
		}
	}
}

@media only screen and (max-width: 1120px) {
	div.column-layout {
		flex-direction: column;
	
		div.features {
			display: none;
		}

		div.col ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			li {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				&.f {
					text-align: left;
					display: block;
				}

				&.head, &.sub-head {
					width: 100%;
				}

				&.sub-head {
					background-color: $light-grey-background-color;
				}

				&.first-after-header {
					margin-top: 0px;
				}

				&.set-height91 {
					height: auto;
				}

				&:after {
					left: 0px;
					right: 0px;
				}
			}
		}

		div.content {
			width: 100%;
			margin-left: 0px;
			margin-top: 30px;

			&:first-child {
				margin-top: 0px;
			}
		}
	}

	span.hint--top:after {
		content: attr(aria-label);
		visibility: visible;
	}
}