---
---

/** main.scss must come first **/
@import 
	'variables.scss', // contains colors,
	'fontello.scss',
	'main.scss', 
	'card.scss',
	'header.scss', 
	'home.scss', 
	'product.scss', 
	'pricing.scss',
	'resources.scss', 
	'footer.scss', 
	'default.scss', 
	'code.scss', 
	'blog.scss',
	'thankyou.scss',
	'devops.scss',
	'infosec.scss'