section.blog-section {
	& > div {
		padding-top: 0px;

		h2 {
			margin-top: 20px;
			text-align: left;

			& > a {
				float: right;
				font-size: 1rem;
			}
		}

		ul {

			div.header {
				background-color: $dark-blue-background-color;
			}

			div.info {
				display: flex;
				justify-content: space-between;

				& > span {
					color: $dark-grey-font-color;
					display: inline-block;
					font-size: .8em;
				}
			}
		}
	}
}

section.post-section {
	div.sources {
		& > ul {
			list-style-type: none;
			padding: 0px;
		}

		& > ul > li {
			margin-top: -$header-height;
			padding-top: $header-height;
		}

		& > ul > li > a {
			word-wrap: break-word;
		}
	}
}