ul.card-container {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	justify-content: center;

	& > li {
		border: 1px solid $grey-border-color;
		border-radius: $border-radius;
		max-width: 340px;
		background: $white-background-color;
		box-shadow: $shadow;
		padding: 0px;
		margin-left: 20px;
		margin-bottom: 20px;


		&:first-child {
			margin-left: 20px;
		}

		& div.header {
			font-family: 'Cousine', serif, Arial, Helvetica;
			display: block;
			color: $white-font-color;
			background-size: cover;
			padding: 60px 20px;
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
			min-height: 3.3em;

			/* was: h3 */
			margin: 0px;

			/* copied from h3 */
			font-size: 1.5em;
			text-align: center;

			& > a {
				color: inherit;
			}
		}

		& > a {
			padding: 0;
			&:hover {
				text-decoration: underline;
				text-decoration-color: white;
			}
		}

		& h3 {
			margin: 0;
		}

		& > * {
			padding: 15px 20px;
		}		
	}
}

@media only screen and (max-width: 740px) { /* = 20px margin + 340px card + 20px space + 340px card + 20px margin */
	*.card-container > * {
		max-width: none;
		margin-left: 0px;
	}
}
