section.default-section {
	& > div {
		padding-top: 30px;

		& > article {

			& > table > thead > tr > th,  
			& > table > tbody > tr > td {
				text-align: left;
				padding-right: 1em;
			}

			& > h1 {
				font-size: 2em;
			}

			& > h2 {
				//margin-top: 0px;
				font-size: 1.5em;
			}

			& > h3 {
				text-align: left;
			}
			
			& > ul {
		    font-size: 1.5em;
		    background: #f9f9f9;
		    margin: 2em 10px;
		    padding: 0.5em 10px;
			}
			
			blockquote {
			  background: #f9f9f9;
			  border-left: 10px solid #003357;
			  margin: 1.5em 10px;
			  padding: 0.5em 10px;
			  quotes: "\201C""\201D""\2018""\2019";
			  font-size: 40px;
			  font-style: italic;
			}
			blockquote:before {
			  color: #ccc;
			  font-size: 4em;
			  line-height: 0.1em;
			  margin-right: 0.25em;
			  vertical-align: -0.4em;
			}
			
			blockquote p {
			  display: inline;
			}
			

			
			& > p {
				text-align: left;
				font-size: 20px;
			}
		}
	}
}