header { /** main header **/
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: $header-height;
	color: $white-font-color;
	background-color: rgba(0,0,0,0.0);
	transition: background-color 0.3s linear;
	z-index: 2;

	& > div { /** header inner container **/
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin: auto;
		padding: 0px 40px;

		& > a { /** logo link to homepage **/
			margin-right: 20px;
		}
	}
}

/**
 *
 * HEADER ON scroll
 *
 **/
html:not([data-scroll='0']) {
	header {
		background-color: rgba(0,0,0,1.0);
	}
}

nav {

	& > ul { /** main navigation **/
		list-style-type: none;
		padding-inline-start: 0px;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 1em;

		& > li {
			margin: 0px 16px;
			position: relative;

			&.login {
				margin-right: 0px;
			}

			& > a {
				cursor: default;
			}

			a {
				color: inherit;
				font-size: 1em;
			}

			& > a {
				position: relative;
			
				&:after { /** line effect on hover **/
					content: '';
					position: absolute;
					left: 0px;
					bottom: -4px;
					width: 0%;
					border-bottom: 1px solid #fff;
					transition: width 0.2s linear;
				}

				&:hover:after {
					width: 100%;
				}

				&.btn:hover:after {
					width: 0%;
				}
			}

			&:hover > ul, &:hover > div {
				visibility: visible;
			}

			& > div { /* contains groups */
				visibility: visible;
				position: absolute;
				left: -420px;
				top: 1em;
				padding-top: 18px;
				color: #000;
				visibility: hidden;
				display: flex;
				flex-direction: row;
				top: 1em;

				& > * {
					background-color: $white-background-color;
					border-color: $grey-border-color;
					border-bottom-width: 1px;
					borderstyle: solid;	

					&:first-child {
						border-left-width: 1px;
					}

					&:last-child {
						border-right-width: 1px;
					}
				}

				h3,h4 {
					margin: 0px;
					padding-left: 20px;
				}

				h3 {
					font-size: 1em;
					color: $dark-grey-font-color;
					text-transform: uppercase;
					margin-bottom: 0.5em;
					margin-top: 0.5em;
				}

				h4 {
					font-size: 0.8em;
					color: $dark-grey-font-color;
					border-bottom: 1px solid $light-grey-border-color;

				}

				div.group {
					padding-right: 1em;
				}

				div.group > ul.group {
					display: flex;
					flex-direction: row;
				}

				& > ul { /* submenu without group */
					padding-top: 2.65em;
				}
			}

			ul {
				list-style-type: none;
				padding: 0px;
			
				& > li {
					white-space: nowrap;
					background-color: $white-background-color;

					&:hover {
						background-color: $grey-border-color;
					}

					&.group:hover {
						background-color: $white-background-color;
					}

					& > a {
						display: block;
						padding: 5px 20px;
					}
				}
			}

			& > ul { /** first level submenu **/
				visibility: hidden;
				position: absolute;
				left: -20px;
				top: 1em;
				padding-top: 18px;
				color: #000;

				li {
					border-left: 1px solid $grey-border-color;
					border-right: 1px solid $grey-border-color;

					&:first-child {
						border-top: 1px solid $grey-border-color;
					}

					&:last-child {
						border-bottom: 1px solid $grey-border-color;
					}

					&.separator {
						height: 10px;
						&:hover {
							background-color: $white-background-color;
						}
					}
				}
			}
		}
	}
}

/**
 *
 * HAMBURGER
 *
 **/

nav > a#main-menu-toggle {
	display: none;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	flex-direction: column;
	justify-content: space-around;
	padding: 8px;

	& > div {
		background: $white-background-color;
		height: 4px;	
	}
}

/**
 *
 * SUBMENU
 *
 **/

/**
 *
 * MOBILE
 *
 **/

@media only screen and (max-width: 1000px) {
	header {
		background-color: #000;
		z-index: 2;

		& > div {
			margin-top: 0px;
		}
	}

	nav > a#main-menu-toggle {
		display: flex;
	}

	nav > ul {
		display: none;
		position: fixed;
		left: 0px;
		top: 80px;
		bottom: 0px;
		margin: 0px;
		overflow-y: auto;
		flex-direction: column;
		width: 100%;
		
		align-items: stretch;
		background-color: $black-background-color;

		&.open {
			display: block;
		}

		& > li {
			margin: 0px;

			& > a:hover:after {
				width: 0%;
			}

			& > a.btn {
				display: block;
				margin: 10px 30px;
			}

			& > div, & > ul {
				position: static;
				display: block;
				color: inherit;
				visibility: visible;
				padding-top: 0px;
				background-color: initial;
			}

			& > div {
				& > * {
					background-color: $black-background-color;
				}

				div.group > ul.group {
					display: block;
				}

				div.group, li.group {
					margin-top: 0.5em;

					&:first-child {
						margin-top: 0em;
					}
				}

				div.group {
					h4, a {
						padding-left: 60px;
					}
				}

				h3, h4 {
					padding-left: 40px;
					border-bottom-width: 0px;

				}

				h3 {
					margin: 0px;
				}

				h4 {
					font-size: 1em;
				}

				div.group {
					padding-right: 0px;
				}

				ul {
					padding-top: 0px;
				}
			}

			ul {

				& > li {
					background-color: $black-background-color;
					border-right: 0px solid transparent;
					border-left: 0px solid transparent;

					& > a {
						padding-left: 40px;
					}

					&:hover {
						background-color: initial;;
					}

					&:first-child {
						border-top: 0px solid transparent;
					}

					&:last-child {
						border-bottom: 0px solid transparent;
					}
				}
			}
		}
	}

	nav > ul li > a {
		border-top: 1px solid $dark-grey-border-color;
		display: block;
		padding: 10px 20px;
	}
}
