section.banner {
	background-position: 0% 40%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-size: 1.2rem;

	& > div {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	& > div > a {
		margin-left: 20px;
		color: #fff;
	}

	& > div > a.btn {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 806px) {
	section.banner > div > a.btn {
		margin-top: 20px;
	}
}

section.home-start {
	background-image: url('../img/home.jpg');
	padding: 100px 0px;

	& > div {
		max-width: 1000px;
		text-align: left;

		& > h1 {
			font-size: 4.2em;
			margin: 0px;
			padding: 0px;
			line-height: 1.2em;
			font-weight: 600;
		}

		& > p {
			font-size: 2em;
			line-height: 1.5em;
			text-align: left;
		}

		& > div {
			display: flex;
		
			& > *:first-child {
				margin-right: 20px;
			}
		}
	}
}

ul.home-feature-list {
	list-style-type: none;
	text-align: left;
	padding: 0px;

	& > li {
		font-size: 1.3em;
		margin-bottom: 0.5em;
		display: flex;
		align-items: center;
		gap: 15px;
	}
}

ul.home-method-list {
	list-style-type: none;
	text-align: left;
	padding: 0px;

	& > li {
		font-size: 1.3em;
		margin-bottom: 0.5em;
		display: flex;
		align-items: center;
		gap: 15px;
	}
}

@media only screen and (max-width: 1000px) {
	main > section.home-start {

		padding-bottom: 0px;

		& > div > h1 {
			font-size: 3em;
		}

		& > div > p > br {
			display: none;
		}
	}
}