div.panel {
	border: 1px solid grey;
	border-radius: 6px;
	padding: 0px 20px;
	margin: 10px 0px;
}
div.panel.with-body {
	padding: 0px;
}
div.panel.with-body > div.panel-header {
	margin-left: 0px
}

div.panel.info{
	background-color: lightgrey;
}
div.panel.warning {
	background-color: lightsalmon;
}
div.panel.product {
	background-color: $light-blue-background-color;
}
div.panel > div.panel-header {
	background-color: grey;
	color:white;
	margin: 0px;
	padding: 5px 10px;
	display: block;
	font-size: 1em;
	margin-left: -20px;
}

div.panel > div.panel-body {
	margin: 20px;
}

h3{
	font-weight: bold;
}
