section.pricing-start {
	background-image: url('../img/home.jpg');

	& > div > h1 {
			text-align: center;
	}

	& > div > h3 {
		text-align: center;
	}
}

section.pricing {

	& > div {
		padding: 40px;
	}

	& > div > div.header {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 2rem;
	}

	& > div > div.header > div.calculator {
		max-width: 600px;
		padding: 20px;
		background-color: $white-background-color;
		border-radius: 6px;
		box-shadow: $shadow;

		div.column {
			display: flex;
			flex-direction: column;

			&:after {
				height: 0px;
			}
		}

		div.row {
			display: flex;
			padding: 12px 0px;
			justify-content: space-between;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: 0px;
				left: 20px;
				right: 20px;
				height: 1px;
				background-color: $light-grey-border-color;
			}
		}

		div.link {
			text-align: center;
			padding-top: 12px;
		}

		span.label {
			font-size: 0.8rem;
			display: flex;
			align-items: center;
		
			i {
				margin-left: 0.2rem;
				font-size: 1rem;
			}
		}

		input[type=number] { 
		  -moz-appearance: textfield;
		  appearance: textfield;
		  margin: 0;
		  text-align: center;
		  font-size: 1em;
		  border: 0px solid transparent;
		  width: 3em;
		}

		input[type=number]::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		}

		i.la-plus-circle, i.la-minus-circle {
			color: $secondary-color;
			font-size: 1.6em;
			margin: 0px 0.2em;
			line-height: 1rem;
		}

	}

	& > div > div.header > div.ev-included {
		border-radius: 6px;
		box-shadow: $shadow;
		background-color: $primary-color;
		color: $white-font-color;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		
		& > i {
			font-size: 2rem;
			margin: 10px;
		}

		& > span {
			font-size: 1.2rem;
			display: inline-block;
			margin: 10px;
		}
	}

	div.column-layout {
		position: relative;

		div.features {
			margin-top: calc(2em * 1.2 + 12px + 4px + 1px /* h2 */ + 1.8em * 1.8 + 2rem + 10px /* h3 */ - 1.65em - 20px);
			max-width: 200px;
			min-width: 200px;

			li {
				&.include-sub {
					padding-bottom: calc(0.8em * 1.65 + 10px);
				}

				&.sub-head {
					padding-bottom: 10px;
				}

				&:first-child, &:last-child {
					padding-bottom: 10px;
				}
			}
		}

		div.product-header {
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;

			& > h2 {
				font-size: 1.2em;
				line-height: 2em;
				padding: 4px;
				margin: 0em 1em;
				padding-top: 12px;
				text-align: center;
				border-bottom: 1px solid $light-grey-border-color;
			}

			& > h3 {
				font-size: 1.8em;
				padding: 10px 10px;
				line-height: 1.8em;
				text-align: center;
				padding-top: 1rem;
				display: block !important;
				height: auto;
				z-index: auto;

				& > span.price-sub {
					display: block;
					font-size: .8rem;
					line-height: 1rem;
					text-transform: none;
					visibility: hidden;
				
					&.visible {
						visibility: visible;
					}
				}
			}
		}
	
		div.content.match-failed {
			display: none;

			color: $light-grey-font-color; 

			span.sub {
				color: $light-grey-font-color; 
			}

			& > *:first-child { 
				background-color: $light-medium-grey-background-color; 

				h2,h3 {
					color: $light-grey-font-color;
					border-bottom-color: $light-grey-font-color; 
				}
			}

			a {
				display: none;
			}
		}
	}
}

div.editions-dialog {
	display: none;
	position: absolute;
	top: 30px;
	left: 50%;
	
	& > div {
		position: relative; 
		left: -50%;
		padding: 20px;
		background-color: $white-background-color;
		box-shadow: $shadow;
		border-radius: 6px;
		text-align: center;
		min-width: 220px;

		& > div {
			margin-top: 1em;
		}
	}
}

div.number-select {
	display: flex;
	align-items: center;
}

div.toggle {
	display: block;
	width: 100%;
	max-width: 300px;
	text-align: center;

	& > label {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 1em;

		& > input {
			position: absolute;
			left: 50%;
			top: 0px;
			width: 0;
			height: 0;
			font-size: 1em;
			margin: 0px;
			opacity: 0;

			&:checked {

				& + span:before {
					transform: translateX(28px);
				}

				& ~ div:before {
					color: $grey-font-color;
				}

				& ~ div:after {
					color: inherit;
				}
			}
		}

		& > div {
			position: absolute;
			left: 50%;
			top: 0px;
			width: 0px;
			height: 0px;
			font-size: 1em;
			line-height: 1em;

			&:before {
				position: absolute;
				right: 35px;
				left: -100px;
				width: auto;
				top: calc( (1.4em - 1em) / 2);
				text-align: right;
				content: attr(data-before);
				font-weight: normal;
			}

			&:after {
				color: $grey-font-color;
				position: absolute;
				text-align: left;
				left: 35px;
				right: -100px;
				top: calc( (1.4em - 1em) / 2);
				content: attr(data-after);
				opacity: 1;
				font-weight: normal;
			}
		}
		
		& > span {
			position: absolute;
			cursor: pointer;
			top: 0px;
			left: calc(50% - 25px);
			right: 0;
			bottom: 0;
			background-color: $secondary-color;
			transition: .4s;
			border-radius: 1.4em;
			width: 50px;
			height: 1.4em;
		
			&:before {
				content: '';
				position: absolute;
				height: calc(1.4em - 4px);
				width: calc(1.4em - 4px);
				left: 2px;
				bottom: 2px;
				background-color: $white-background-color;
				transition: .4s;
				border-radius: 50%;
			}
		}
	}
}

@media only screen and (min-width: 800px) {
	section.pricing > div {
		& > div.header {
			flex-direction: row;
			justify-content: center;
		}

		& > div.header > div.ev-included {
			flex-direction: column;
			max-width: 140px;
			align-self: stretch;
			margin-left: 20px;
			margin-bottom: 0px;

			& > i {
				font-size: 4rem;
			}

			& > span {
				text-align: center;
			}
		}

		& > div.header > div.calculator {
			min-width: 600px;

			div.main {
				display: flex;
			}

			div.column {
				flex-direction: column;
				width: 50%;

				&:first-child {
					margin-right: 25px;
				}

				&:last-child {
					margin-left: 25px;
				}
			}

			span.label {
				font-size: 1rem;
			}
		}
	}

	section.pricing {
		div.column-layout div.content.match-failed {
			display: block;
		}
	}
}

@media only screen and (max-width: 1000px) {
	section.pricing > div {
		padding: 20px;

		& > div.products-table {
			flex-direction: column;
		
			& > div.product {
				margin-top: 20px;
				margin-left: 0px;
				width: 100%;

				& > a {
					border-bottom-right-radius: inherit;
					border-bottom-left-radius: inherit;
				}
			}
		}
	}
}
