section.product-start {
	background-image: url('../img/product.jpg');

	& > div {
		text-align: center;

		& > h1 {
			text-align: center;
		}
	}
}

main > section.feature {
	display: flex;
	flex-wrap: wrap;
	padding: 40px 0px;
	max-width: $content-width;
	margin: auto;
	flex-direction: row;

	&.grey {
		background-color: $light-grey-background-color;
	}

	& > div.description {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0px;
		padding: 40px 0px;
		text-align: left;

		& > * {
			text-align: inherit;
		}
		
		& > h2 {
			margin-bottom: 0px;
		}

		& > h3, h2 {
			margin-left: 40px;
			margin-right: 40px;
			margin-top: 0px;
		}
		
		& > p, & > ul {
			margin: 20px 40px;
			margin-top: 0px;
		}
	}

	& > div.img {
		min-width: 300px;
		width: 50%;
		display: flex;
		padding: 0px;
		justify-content: center;
		align-items: center;

		& > div {
			margin: 20px;
			overflow: hidden;
			box-shadow: $shadow;
			border-radius: $border-radius;

			&.no-shadow {
				box-shadow: none;
			}

			& > img {
				width: auto;
				display: block;
			}
		}
	}

	&.right {
		& > div.description {
			text-align: right;
		}

		& > div.img {
			order: 2;
		}
	}

	table {
		border-collapse: collapse;
		margin-bottom: 1.5em;

		thead {
			background-color: #F6F6F6;
		}

		td, th {
			border-top: 1px solid $grey-border-color;
			border-bottom: 1px solid $grey-border-color;
			padding: 5px 10px;
			vertical-align: top;
		}

		td {
			font-size: 0.9em;

			& > *:only-child {
				margin: 0;
			}

			& > ol:only-child, & > ul:only-child
			{
				padding-left: 1em;
			}
		}
	}

	table.noborder {
		td, th {
			border: none;
		}
	}
}

@media only screen and (max-width: 1000px) {
	main > section.feature {

		& > div.description {
			width: 100%;
			text-align: center;

			& > p {
				margin: 0px 20px;

				& > a.btn {
					margin-top: 20px;
				}
			}
		}

		& > div.img {
			width: 100%;
			max-height: 50%;
			text-align: center;

			& > div {

				& > img {
					max-width: 100%;
				}
			}
		}

		&.right {
			& > div.description {
				text-align: center;
			}

			& > div.img {
			 	order: 0;
			}
		}

		table {

			thead {
				display: none;
			}

			&.header-small-mobile {
				td {
					margin-left: 100px;

					&:before {
						left: -90px;
						width: 80px;
					}
				}
			}

			tr {
				margin-bottom: 1em;
				border: 1px solid $grey-border-color;
				background-color: $light-grey-background-color;

				td {
					position: relative;
					margin-left: 140px;
					border: 0px solid transparent;
					padding-left: 0px;
					border-bottom: 1px solid $grey-border-color;
					min-height: calc(1em + 10px); /* to deal with empty cells */


					&:before {
						position: absolute;
						width: 130px;
						left: -140px;
						top: 0px;
						bottom: -1px;
						content: attr(data-label);
						padding-left: 10px;
						padding-top: 5px;
						padding-bottom: 5px;
						font-weight: 800;
						border-bottom: 1px solid $grey-border-color;
					}

					&:last-child {
						border-bottom: 0px solid transparent;
						
						&:before {
							border-bottom: 0px solid transparent;
						}
					}
				}
			}
		}
	}
}