section.product-start {
	background-image: url('../img/home.jpg');

	& > div {
		text-align: center;

		& > h1 {
			text-align: center;
		}
	}
}

main > section.feature {
	display: flex;
	flex-wrap: wrap;
	padding: 40px 0px;
	max-width: $content-width;
	margin: auto;
	flex-direction: row;

	&.grey {
		background-color: $light-grey-background-color;
	}

	& > div.description {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0px;
		padding: 40px 0px;
		text-align: left;

		& > * {
			text-align: inherit;
		}
		
		& > h2 {
			margin-bottom: 0px;
		}

		& > h3, h2 {
			margin-left: 40px;
			margin-right: 40px;
			margin-top: 0px;
		}
		
		& > p, & > ul {
			margin: 20px 40px;
			margin-top: 0px;
		}
	}

	& > div.img {
		min-width: 300px;
		width: 50%;
		display: flex;
		padding: 0px;
		justify-content: center;
		align-items: center;

		& > div {
			margin: 20px;
			overflow: hidden;
			box-shadow: $shadow;
			border-radius: $border-radius;

			&.no-shadow {
				box-shadow: none;
			}

			& > img {
				width: auto;
				display: block;
			}
		}
	}

	&.right {
		& > div.description {
			text-align: right;
		}

		& > div.img {
			order: 2;
		}
	}
}

@media only screen and (max-width: 1000px) {
	main > section.feature {

		& > div.description {
			width: 100%;
			text-align: center;

			& > p {
				margin: 0px 20px;

				& > a.btn {
					margin-top: 20px;
				}
			}
		}

		& > div.img {
			width: 100%;
			max-height: 50%;
			text-align: center;

			& > div {

				& > img {
					max-width: 100%;
				}
			}
		}

		&.right {
			& > div.description {
				text-align: center;
			}

			& > div.img {
			 	order: 0;
			}
		}
	}
}