section.resources-section {
	& > div {
		text-align: left;
		padding-top: 30px;
		padding-left: 16px;
		padding-right: 16px;
		display: flex;
		align-items: flex-start;
		max-width: $content-width;

		& > aside {
			background-color: $light-grey-background-color;
			border-radius: 6px;
			font-size: 0.9em;
			min-width: 220px;
			margin-bottom: 30px;
			margin-right: 20px;
			position: sticky;
			top: 100px;

			& > ul {
				margin: 10px 0px;

			}

			ul {
				padding: 0px;
				list-style-type: none;
			}

			ul > li {
				padding: 5px 20px;

				&.separator {
					padding: 0px;
					border-top: 1px solid $grey-border-color;
					margin: 5px 0px;
					overflow: hidden;
				}

				&.active > a {
					font-weight: bold;
				}

				&:last-child {
					padding-bottom: 0px;
				}
			}

			& > ul > li > ul > li {
				padding-left: 20px;
			}
		}

		& > article {

			& > h2:first-child {
				margin-top: 0px;
			}

			h2, h3, h4, h5, h6
			{
				font-weight: bold;
				margin-left: 0;
				text-align: left;
				// see [id] selector in main.scss
				// &:target::before { /* anchor margin on top */
				// 	content: "";
				// 	display: block;
				// 	margin-top: -100px;
				// 	height: 100px;
				// }
			}

			& > h2 {
				margin-bottom: 0px;
				font-size: 1.5em;
				padding-bottom: 5px;
				border-bottom: 1px solid $grey-border-color;
			}

			& > h3 {
				font-size: 1.4em;
				margin-top: 1.5em;
				margin-bottom: 0.5em;
				margin-left: 0;
				text-align: left;
			}

			& > h4 {
				font-size: 1.2em;
				font-weight: bold;
				margin-top: 1em;
				margin-bottom: 0.3em;
			}

			& > h5 {
				font-size: 1.0em;
				margin-top: 0.8em;
				margin-bottom: 0.2em;
				text-align: left;
				font-style: italic;
			}

			p {
				margin-top: 5px;
			}

			img {
				max-width: 100%;

				&.margin-left {
					margin-left: 30px;
					max-width: calc(100% - 30px);
				}
			}
		}

		/** HIGHLIGHTS **/
		blockquote.panel {
			border: 1px solid $grey-border-color;
			border-radius: 6px;
			padding: 0px 20px;
			margin: 10px 0px;

			& > p:first-child::before {
				margin-right: 10px;
				display: inline-block;
			}

			&.info, &.warning, &.tip {
				& > p:first-child::before {
					font-family: "Line Awesome Free";
					font-weight: 800;
				}
			}

			&.info {
				background-color: $light-grey-background-color;
				& > p:first-child::before {
					content: "\f05a";
				}
			}
			&.tip {
				background-color: $light-grey-background-color;
				& > p:first-child::before {
					content: "\f0eb";
				}
			}
			
			&.warning {
				background-color: $light-orange-background-color;
				& > p:first-child::before {
					content: "\f071";				
				}
			}

			&.product {
				background-color: $light-blue-background-color;
				& > p:first-child::before {
					content: "\e808";
					font-family: fontello;				
				}
			}

			& > p:first-child {
				background-color: $grey-border-color;
				margin: 0px;
				padding: 5px 10px;
				font-weight: bold;
				font-size: 1em;
				margin-left: -20px;
				margin-right: -20px;
			}

			&.todo {
				display: none;
			}
		}

		table {
			border-collapse: collapse;
			margin-bottom: 1.5em;

			thead {
				background-color: #F6F6F6;
			}

			td, th {
				border-top: 1px solid $grey-border-color;
				border-bottom: 1px solid $grey-border-color;
				padding: 5px 10px;
				vertical-align: top;
			}


			td {
				font-size: 0.9em;

				& > *:only-child {
					margin: 0;
				}

				& > ol:only-child, & > ul:only-child
				{
					padding-left: 1em;
				}
			}
		}

		table.noborder {
			td, th {
				border: none;
			}
		}

		table.noheader {
			thead {
				display: none;
			}
		}

		table.row-headers {
			border-left: 1px solid $grey-border-color;
			border-right: 1px solid $grey-border-color;

			tr:not(last-child) {
				th:first-child, td:first-child {
					background-color: #F6F6F6;
					font-weight: bold;
					border-right: 1px solid $grey-border-color;
					font-size: 1em;
				}
			}
		}
	}

	ul.article-toc {
		margin-top: 0;
		margin: 0;
		padding-left: 1em;
		& li {
			line-height: 1.2em;
			padding-bottom: 0.4em;
			& > ul {
				padding-top: 0.4em;
				padding-left: 20px;
			}
		}
	}
}

/**
 *
 * MOBILE
 * **/
ul.article-toc.mobile-only {
	display: none;
}

@media only screen and (max-width: 1000px) {
	ul.article-toc.mobile-only {
		display: inherit;
	}
	.no-mobile {
		display: none;
	}
	section.resources-section > div {
		margin-left: auto;
		flex-direction: column;

		& > aside {
			width: 100%;
			position: relative;
			top: 0px;
		}

		table, tr, tbody, td {
			display: block;
		}

		table {

			thead {
				display: none;
			}

			&.header-small-mobile {
				td {
					margin-left: 100px;

					&:before {
						left: -90px;
						width: 80px;
					}
				}
			}

			tr {
				margin-bottom: 1em;
				border: 1px solid $grey-border-color;
				background-color: $light-grey-background-color;

				td {
					position: relative;
					margin-left: 140px;
					border: 0px solid transparent;
					padding-left: 0px;
					border-bottom: 1px solid $grey-border-color;
					min-height: calc(1em + 10px); /* to deal with empty cells */


					&:before {
						position: absolute;
						width: 130px;
						left: -140px;
						top: 0px;
						bottom: -1px;
						content: attr(data-label);
						padding-left: 10px;
						padding-top: 5px;
						padding-bottom: 5px;
						font-weight: 800;
						border-bottom: 1px solid $grey-border-color;
					}

					&:last-child {
						border-bottom: 0px solid transparent;
						
						&:before {
							border-bottom: 0px solid transparent;
						}
					}
				}
			}
		}
	}
}

table#signing-file-elements tr td code {
	word-break: normal;
}


table td[data-label="Parameter"] code {
	white-space: nowrap; // prevent hypen line breaks in -Parametername 
}

table.break-column-1 {
	tr td:nth-child(1) {
		word-break: break-all;
		min-width: 10em;
		code {
			white-space: inherit;
		}
	}
}

div.language-powershell {
	& span.err {
		background-color: inherit;
	}
	& span.nf, span.nx, span.kt {
		color: #990000;
		font-weight: bold;
	}
}

@media only screen and (min-width: 1000px) {
	section.resources-section {
		& > div > article {
			img.margin-left {
				margin-left: 60px;
				max-width: calc(100% - 60px);
			}
		}
	}
}

@media only screen and (max-width: 999px) {
	:not(pre) > code {
			word-break: break-all;
	}
}