{% include header.html %}
{% assign reduced_price_factor = 1.00 %}

<section class='bg-blue font-white pricing-start top-section bg-image'>
	<div>
		<h1>From small teams to enterprises</h1>
		<h3>Let's secure your code signing processes</h3>
	</div>
</section>

<section class='bg-grey editions'>
	<div>
		<div class='editions'>
			<div class='features col'>
				<ul>
					<li class='head f'>Quotas</li>
					<li class='f'>Projects</li>
					<li class='f'>Users</li>
					<li class='sub-head f'>Signing Requests <span class='hint--top' aria-label='One signing request can contain multiple artifacts'><i class='las la-info-circle'></i></span><span class='sub'>per project</span></li>
					<li class='sub set-height91 f'>release-signing</li>
					<li class='sub set-height91 f'>test-signing</li>
					<li class='f'>CI pipelines <span class='hint--top' aria-label='Limits the number of parallel signing requests'><i class='las la-info-circle'></i></span></li>
					<li class='sub-head f'>Signing request retention <span class='hint--top' aria-label='Your artifacts and signing request information is deleted after the specified time range'><i class='las la-info-circle'></i></span></li>
					<li class='sub f'>release-signing</li>
					<li class='sub f'>test-signing</li>
					<li class='head f'>Signing methods</li>
					<li class='f'>Authenticode<span class='sub'>.exe, .dll, .msi, &hellip;</span></li>
					<li class='f'>Windows device drivers</li>
					<li class='f'>Office Add-ins</li>
					<li class='f'>OPC<span class='sub'>.vsix, .hlk</span></li>
					<li class='f'>NuGet</li>
					<li class='f'>Android apps <span class='hint--top' aria-label='APK signing scheme v1'><i class='las la-info-circle'></i></span></li>
					<li class='f'>Java</li>
					<li class='f'>Docker images</li>
					<li class='head f'>Artifact configuration</li>
					<li class='f'>Deep signing <span class='hint--top' aria-label='Signs the installer/package and contained files'><i class='las la-info-circle'></i></span></li>
					<li class='f'>Multiple configurations <span class='hint--top' aria-label='Allows different configurations for e.g. different versions of the artifacts'><i class='las la-info-circle'></i></span></li>
					<li class='f'>Metadata constraints <span class='hint--top' aria-label='Restrict the allowed artifacts based on metadata information'><i class='las la-info-circle'></i></span></li>
					<li class='head f'>Policy enforcement</li>
					<li class='f'>Manual approval</li>
					<li class='f'>Quorum approval (k-out-of-n)</li>
					<li class='f'>Policies for certificates</li>
					<li class='f'>Arbitrary signing policies <span class='hint--top' aria-label='One release- and test-signing policy are available in all editions'><i class='las la-info-circle'></i></span></li>
					<li class='f'>Double verification <span class='hint--top' aria-label='Increases the security by requiring two independent factors for API authentication'><i class='las la-info-circle'></i></span></li>
					<li class='f'>Origin verification <span class='hint--top' aria-label='Provides information about commit and repository the artifact was built from'><i class='las la-info-circle'></i></span></li>
					<li class='head f'>Other</li>
					<li class='f'>Malware detection</li>
					<li class='f'>HSM key storage</li>
					<li class='f'>User groups</li>
					<li class='f'>Available on-premises</li>
					<li class='f'>Support</li>
					<li class='f'>Code signing consulting</li>
				</ul>
			</div>
			{% for edition in site.data['editions'] %}
				<div class='edition col'>
					<h3>{{ edition.name }}</h3>
					<ul>
						<li class='first-after-header'>{{ edition.quotas.projects }}</li>
						<li>{{ edition.quotas.users }}</li>
						<li class='first-after-header set-height91'>
							{{ edition.quotas.signing_requests_release_signing }}{% if edition.quotas.signing_requests_test_signing != 'Unlimited' %} per year{% endif %}
							{% if edition.quotas.signing_requests_release_signing_with_cd %}
								<span class='sub'>{{ edition.quotas.signing_requests_release_signing_with_cd }} with CD package<sup>1</sup></span>
							{% endif %}
						</li>
						<li class='set-height91'>
							{{ edition.quotas.signing_requests_test_signing }}{% if edition.quotas.signing_requests_test_signing != 'Unlimited' %} per year{% endif %}
							{% if edition.quotas.signing_requests_test_signing_with_cd %}
								<span class='sub'>{{ edition.quotas.signing_requests_test_signing_with_cd }} with CD package<sup>1</sup></span>
							{% endif %}
						</li>
						<li>{{ edition.quotas.ci_pipelines }}</li>
						<li class='first-after-header'>{{ edition.quotas.signing_request_retention_release_signing }}</li>
						<li>{{ edition.quotas.signing_request_retention_test_signing }}</li>
						{% assign groups = 'signing_methods,artifact_configuration,policy_enforcement,other' | split: ',' %}
						{% assign group_features = 'authenticode,device_drivers,office_add_ins,opc,nuget,android,java,docker;deep_signing,multiple_configurations_per_projects,metadata_constraints;manual_approval,quorum_approval,arbitrary_signing_policies,policies_for_certs,double_verification,origin_verification;malware_detection,hsm_key_storage,groups,available_on_premises,support,code_signing_consulting' | split: ';' %}
						{% for group_index in (0..4) %}
							{% assign group = groups[group_index] %}
							{% assign features = group_features[group_index] | split: ',' %}
							{% for feature in features %}
								<li {% if feature == features[0] %}class='first-after-header'{% endif %}>
									{% if edition[group][feature] == true %}<i class='la la-check'></i>
									{% elsif edition[group][feature] == false %}<i class='la la-times'></i>
									{% else %}{{ edition[group][feature] }}{% endif %}
								</li>
							{% endfor %}
						{% endfor %}
					</ul>
					{% case edition.link_type %}
						{% when 'pricing_page' %}
							<a href='/product/pricing'>Buy now</a>
							<a href='{{ site.data.hosts.app[jekyll.environment] }}/Web/Subscription/StartFreeTrial'>Start free trial</a>
						{% when 'sales_email' %}
							<a href='mailto:sales@signpath.io?Subject={{ edition.name | urlencode }}%20subscription'>Contact sales</a>
						{% when 'support_email' %}
							<a href='mailto:support@signpath.io?Subject={{ edition.name | urlencode }}%20subscription'>Contact us</a>
					{% endcase %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<!--<section class='bg-grey editions'>
	<table>
		<colgroup class='header'>
			<col>
		</colgroup>
		<colgroup class='editions'>
			<col>
			<col>
			<col>
			<col>
			<col>
		</colgroup>
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th><h3>Starter</h3></th>
				<th><h3>Basic</h3></th>
				<th><h3>Premium</h3></th>
				<th><h3>Enterprise</h3></th>
				<th><h3>Open Source</h3></th>
			</tr>
		</thead>
		<tbody>
			<tr class='head'>
				<th>Quotas</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Projects</th>
				<td>1 &dash; 3</td>
				<td>1 &dash; 25</td>
				<td>Unlimited</td>
				<td>Unlimited</td>
				<td>1</td>
			</tr>
			<tr>
				<th>Users</th>
				<td>1 &dash; 2</td>
				<td>1 &dash; 20</td>
				<td>Unlimited</td>
				<td>Unlimited</td>
				<td>Unlimited</td>
			</tr>
			<tr class='sub-head'>
				<th>Signing Requests <span class='hint--top' aria-label='One signing request can contain multiple artifacts'><i class='las la-info-circle'></i></span><span class='sub'>per project</span></th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th class='sub'>release-signing</th>
				<td>20 per year<span class='sub'>1,000 with CD package<sup>1</sup></span></td>
				<td>50 per year<span class='sub'>2,500 with CD package<sup>1</sup></span></td>
				<td>Unlimited</td>
				<td>Unlimited</td>
				<td>50 per year</td>
			</tr>
			<tr>
				<th class='sub'>test-signing</th>
				<td>100 per year<span class='sub'>5,000 with CD package<sup>1</sup></span></td>
				<td>250 per year<span class='sub'>10,000 with CD package<sup>1</sup></span></td>
				<td>Unlimited</td>
				<td>Unlimited</td>
				<td>250 per year</td>
			</tr>
			<tr>
				<th>CI pipelines <span class='info' data-msg='Hello World'><i class='las la-info-circle'></i></span><span class='sub'>per project</span></th>
				<td>1</td>
				<td>1 per project</td>
				<td>Unlimited</td>
				<td>Unlimited</td>
				<td>Unlimited</td>
			</tr>
			<tr class='sub-head'>
				<th>Signing request retention <span class='info' data-msg='Hello World'><i class='las la-info-circle'></i></span></th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th class='sub'>release-signing</th>
				<td>2 weeks</td>
				<td>2 months</td>
				<td>2 years</td>
				<td>2 years</td>
				<td>2 months</td>
			</tr>
			<tr>
				<th class='sub'>test-signing</th>
				<td>1 week</td>
				<td>2 weeks</td>
				<td>2 months</td>
				<td>2 months</td>
				<td>2 weeks</td>
			</tr>
			<tr class='head'>
				<th>Signing methods</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Windows authenticode<span class='sub'>.exe, .dll, .msi, &hellip;</span></th>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>Windows device drivers</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>Office Add-ins</th>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>OPC<span class='sub'>.vsix, .hlk</span></th>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>NuGet</th>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>Android apps <span class='info' data-msg='Hello World'><i class='las la-info-circle'></i></span></th>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>Java</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>Docker images</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr class='head'>
				<th>Artifact configuration</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Deep signing</th>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>Multiple configurations per project</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>Metadata constraints</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td>required</td>
			</tr>
			<tr class='head'>
				<th>Policy enforcement</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Manual approval</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td>required</td>
			</tr>
			<tr>
				<th>Quorum approval (k-out-of-n)</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>Arbitrary signing policies <span class='info' data-msg='Hello World'><i class='las la-info-circle'></i></span></th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-times'></i></td>
			</tr>
			<tr>
				<th>Policies for certificates</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td>required</td>
			</tr>
			<tr>
				<th>Double verification</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>Origin verification</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td>required</td>
			</tr>
			<tr class='head'>
				<th>Other</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Malware detection</th>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>HSM key storage</th>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
			</tr>
			<tr>
				<th>Groups</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-times'></i></td>
			</tr>
			<tr>
				<th>Available on-premises</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-check'></i></td>
				<td><i class='la la-times'></i></td>
			</tr>
			<tr>
				<th>Support</th>
				<td>Email</td>
				<td>Email</td>
				<td>Priority email</td>
				<td>Phone/Screen share</td>
				<td>Web</td>
			</tr>
			<tr>
				<th>Code-signing consulting</th>
				<td><i class='la la-times'></i></td>
				<td><i class='la la-times'></i></td>
				<td>available</i></td>
				<td>included</i></td>
				<td><i class='la la-times'></i></td>
			</tr>
			<tr class='buttons'>
				<th class='hidden'>&nbsp;</th>
				<td><a href='#'>Purchase</a></td>
				<td><a href='#'>Purchase</a></td>
				<td><a href='#'>Contact sales</a></td>
				<td><a href='#'>Contact sales</a></td>
				<td><a href='#'>Contact us</a></td>
			</tr>
		</tbody>
	</table>
</section>-->


<!--
<section class='bg-grey editions'>
	<div>
		<div class='products-table'>
			<div class='top'>
				<div class='header features'>
					<h2>Included features</h2>
				</div>
				<ul class='body'>
					<li class='label'>Projects</li>
					<li class='label'>Malware detection</li>
					<li class='label'>HSM key storage</li>
					<li class='label'>EV certificate</li>
					<li class='label'>Policy enforcement</li>
					<li class='label'>Manual approval</li>
					<li class='label'>Deep signing</li>
					<li class='label'>CI integration</li>
					<li class='label secondary'>Webhooks</li>
					<li class='label secondary'>Origin verification</li>
					<li class='label'>On-Premise installation</li>
					<li class='label'>Support</li>
					<li class='label'>Code signing consulting</li>
				</ul>
			</div>
			<div class='product'>
				<div class='header edition'>
					<h2>Starter</h2>
				</div>
				<ul class='body'>
					<li>Unlimited</li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-times'></i></li>
					<li><i class='la la-times'></i></li>
					<li>Email</li>
					<li><i class='la la-times'></i></li>
				</ul>
				<a class='btn btn-primary footer' href='/product/pricing/'>Purchase now</a>
			</div>
			<div class='product'>
				<div class='header edition'>
					<h2>Basic</h2>
				</div>
				<ul class='body'>
					<li>Unlimited</li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-times'></i></li>
					<li><i class='la la-times'></i></li>
					<li>Email</li>
					<li><i class='la la-times'></i></li>
				</ul>
				<a class='btn btn-primary footer' href='/product/pricing/'>Purchase now</a>
			</div>
			<div class='product'>
				<div class='header edition'>
					<h2>Premium</h2>
				</div>
				<ul class='body'>
					<li>Unlimited</li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-times'></i></li>
					<li>Priority email</li>
					<li>Available</li>
				</ul>
				<a class='btn btn-primary footer' href='mailto:{{ site.email_sales }}'>Contact us</a>
			</div>
			<div class='product'>
				<div class='header edition'>
					<h2>Enterprise</h2>
				</div>
				<ul class='body'>
					<li>Unlimited</li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li>Phone / Email</li>
					<li>Included</li>
				</ul>
				<a class='btn btn-primary footer' href='mailto:{{ site.email_sales }}'>Contact us</a>
			</div>
			<div class='product oss'>
				<div class='header edition'>
					<h2>Open source</h2>
				</div>
				<ul class='body'>
					<li>Unlimited</li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-check'></i></li>
					<li><i class='la la-times'></i></li>
					<li>required</li>
					<li>required</li>
					<li><i class='la la-check'></i></li>
					<li>required</li>
					<li>required</li>
					<li><i class='la la-times'></i></li>
					<li>Email</li>
					<li><i class='la la-times'></i></li>
				</ul>
				<a class='btn btn-primary footer' href='mailto:{{ site.email_oss }}'>Contact us</a>
			</div>
		</div>

		<div class='info'>

		</div>
	</div>
</section>-->

{% include footer.html %}