{% include header.html %}

<section class="bg-image font-white top-section" style='background-image:url(/assets/img/infosec.jpg);'>
  <div>
    <h1>{{ page.title }}</h1>
  </div>
</section>

<section class="bg-grey infosec-section">
  <div>
    <h2>SignPath makes Code Signing secure</h2>
    <p>How secure are your private keys? Who has access to them and how is their usage regulated? Stolen or misused code signing certificates are a severe threat to ISPs and their customers. The only way to prevent breaches and reduce the risks of successful attacks is to protect your private keys and to estabalish a secure, transparent process.</p>
    <p><a class='btn btn-primary' href='/product/casc'>CA Security Council best practices</a></p>
  </div>
</section>

<section class='feature infosec-section'>
  <div class='img'><div class='no-shadow'>{% include chain.svg %}</div></div>
  <div class='description'>
    <h2>Chain attacks</h2>
    <h3>Don't be the weakest link</h3>
    <p>
      A stolen code signing certificate does not only put your organization at risk, but also all your customers. ISPs are increasingly becoming a target with the sole purpose of attacking one or several of their customers. IT organizations are reacting and demand their suppliers not only to sign their code, but to establish secure code signing processes.
    </p>
    <p class='center'><a class='btn btn-secondary' href='/code-signing/media-coverage'>Read about media coverage</a></p>
  </div>
</section>

<section class='feature right infosec-section'>
  <div class='img'><div class='no-shadow'>{% include devops.svg %}</div></div>
  <div class='description'>
    <h2>Agility and Security</h2>
    <h3>Allow your developers to move fast</h3>
    <p>
      Define clear policies on how code signing certificates may be used - give your development teams the freedom to implement them for their processes. SignPath provides a clear separation of duties, where security teams stay on top of private key access and policy enforcement and development teams can focus on delivering software.
    </p>
    <p><a class='btn btn-secondary' href='/devops'>See our DevOps integration</a></p>
  </div>
</section>

<section class='feature infosec-section'>
  <div class='img'><div class='no-shadow'>{% include incident-management.svg %}</div></div>
  <div class='description'>
    <h2>Incident management</h2>
    <h3>Be prepared and take informed decisions</h3>
    <p>
      SignPath allows you to lock down the code signing process and define multiple gates to ensure only malware-free, approved software from trusted build systems is signed. Every usage of your private key is logged, making it possible to trace any misuse.
    </p>
    <p><a class='btn btn-secondary' href='/code-signing/theory#certificate-revocation'>Read about certificate revocation</a></p>
  </div>
</section>

<section class='feature right'>
  <div class='img'><div class='no-shadow'><img src='/assets/img/features/secure-private-keys.png' title='Secure private keys' /></div></div>
  <div class='description'>
    <h2>Secure storage of private keys</h2>
    <h3 class='subtitle'>Rest assured that your private keys can never be compromised</h3>
    <p>
      SignPath provides a FIPS-certified Hardware Security Module (HSM) to generate and store the private keys for your certificates. The HSM is located in a physically secured data center. Every signing operation takes place on the HSM ensuring that the private key is never exposed. The key infrastructure of SignPath fulfills all requirements for Extended Validation (EV) certificates without having to deal with USB tokens or spending money on dedicated hardware.
    </p>
    <p><a class='btn btn-secondary' href='/code-signing/private-keys'>Read about storage options for private keys</a></p>
  </div>
</section>



{% include footer.html %}