{% include header.html %}

<section class="bg-black font-white top-section">
	<div>
		<h1>{{ page.header }}</h1>
	</div>
</section>
<section class="job-section">
	<div>
		<h1>{{ page.sub-header }}</h1>
	</div>
</section>
<section class="job-section">
	<div class="columns">
		<div>
			<article>
				{{ content }}
			</article>
		</div>
		<div class="job-benefits-list">
			<div>
				<h2>Unsere Team-Werte</h2>
				<a href="/assets/img/jobs/team-values.png">
					<img src="/assets/img/jobs/team-values.png" title="Team-Werte Grafik" width="100%" />
				</a>
				<h2>Was wir bieten</h2>
				<ul>
					<li>Mitarbeit an einem Produkt, das Softwareentwicklungsprozesse sicherer macht - und dabei einen Nerv am Markt trifft</li>
					<li>Ein Team auf hohem technischen Niveau, mit gemeinsamer Verantwortung und gelebter Hilfsbereitschaft, das danach strebt, immer besser zu werden</li>
					<li>Die Möglichkeit, in einem Team Teilzeit zu arbeiten, wo dies nicht als Ausnahme gesehen, sondern voll akzeptiert wird</li>
					<li>Freiraum und die Möglichkeit, eigene Ideen zu verwirklichen (z.B. im Rahmen unserer regelmäßigen Exploration Days)</li>
					<li>Die kombinierten Vorteile eines Startups und des mittelständischen Mutterunternehmens</li>
				</ul>
				<a href="https://www.rubicon.eu/karriere/inside-rubicon/#benefits">
					<img src="/assets/img/jobs/benefits-overview.png" title="RUBICON benefits" width="100%" />
				</a>
				<p> Informiere dich über unser Mutterunternehmen RUBICON&nbsp;IT und die Benefits, die auch für das SignPath&#8209;Team bereitstehen!</p>
				<a class="btn btn-primary" href="https://www.rubicon.eu/karriere/inside-rubicon/">
					Inside RUBICON
				</a>
			</div>
		</div>
	</div>
</section>
<section class="job-section">
	<div>
		<a class="btn btn-secondary" href="https://rubicon.jobbase.io/apply/{{page.job_id}}">
			Jetzt bewerben
		</a>

		<p style="font-style: italic">
			Die exzellente Arbeit unserer Mitarbeiter&ast;innen ist die Basis für unseren Erfolg. Um das zu honorieren, bieten wir neben umfangreichen Sozialleistungen und Goodies auch eine sehr gute Entlohnung. Aus gesetzlichen Gründen sind wir verpflichtet darauf hinzuweisen, dass das kollektivvertragliche Mindestgehalt für diese Stelle aktuell € {{page.salary}} brutto/Jahr (bei Vollzeitbeschäftigung) beträgt. Bei entsprechendem Skill-Set und Erfahrung bieten wir eine deutliche Überzahlung, daher vereinbaren wir dein tatsächliches Gehalt individuell im Gespräch.
		</p>
	</div>
</section>
{% include footer.html %}