{% include header.html %}

<section class="bg-black font-white top-section">
	<div>
		<h1>{{ page.header }}</h1>
		<h2>{{ page.sub-header }}</h2>
	</div>
</section>
<section class="default-section">
	<div>
		<article>
			{{ content }}
		</article>
	</div>
</section>
<section class="job-benefits-section">
	<h2>Was wir bieten</h2>
	<ul>
		<li>Mitarbeit an einem von Grund auf neu entwickelten, spannenden Produkt, das Kunden dabei hilft, ihre bestehenden Softwareentwicklungsprozesse sicherer zu gestalten</li>
		<li>Arbeit mit modernsten Technologien, die Gelegenheit sich tief in diese einzuarbeiten und Expertenwissen aufzubauen</li>
		<li>Eine außergewöhnliche teamorientierte Arbeitsweise, gemeinsame Verantwortung mit gelebter Hilfsbereitschaft und ein starkes Teamgefühl</li>
		<li>Ein Team auf hohem technischen Niveau, das danach strebt, immer besser zu werden</li>
		<li>Flache Hierarchien, direkte Kommunikation und eine exzellente Gesprächsbasis bis hin zum Geschäftsführer</li>
		<li>Flexible Arbeitszeiten und die Möglichkeit, einen Teil der Arbeitszeit im Home Office zu leisten</li>
		<li>Die Möglichkeit, in einem Team Teilzeit zu arbeiten, in welchem dies nicht als Ausnahme gesehen, sondern voll akzeptiert wird</li>
		<li>Freiraum und die Möglichkeit, eigene Ideen zu verwirklichen (z.B. im Rahmen unserer regelmäßigen Exploration Days)</li>
		<li>Weiterentwicklungsmöglichkeiten innerhalb von SignPath sowie im Unternehmen RUBICON</li>
		<li>Diverse Benefits wie z.B. Gratis-Jahreskarte der Wiener Linien, Bezahlung der privaten Internetanbindung, Gratis-Getränke uvm.</li>
	</ul>
</section>
{% include footer.html %}