{% include header.html %}

<section class='bg-blue font-white pricing-start top-section bg-image'>
	<div>
		<h1>Security does not have to be expensive</h1>
		<h3>Subscription models for different needs</h3>
	</div>
</section>

<section class='bg-grey pricing'>
	<div>
		<div class='header'>
			<div class='calculator'>
				<div class='main'>
					<div class='column'>						
						<div class='row'>
							<span class='label'>Projects</span>
							<div class='number-select'><i class='la la-minus-circle'></i><input id='num-projects-input' type='number' min='1' max='100' value='1' oninput="this.value = Math.abs(this.value)" /><i class='la la-plus-circle'></i></div>
						</div>
						<div class='row'>
							<span class='label'>Users</span>
							<div class='number-select'><i class='la la-minus-circle'></i><input id='num-users-input' type='number' min='1' max='100' value='1' oninput="this.value = Math.abs(this.value)" /><i class='la la-plus-circle'></i></div>
						</div>
					</div>
					<div class='column'>
						<div class='row'>
							<span class='label'>Duration</span>
							<div class='toggle'>
								<label>
									<input type='checkbox' id='duration-toggle'>
									<span></span>
									<div data-before='1 year' data-after='3 years'></div>
								</label>
							</div>
						</div>
						<div class='row'>
							<span class='label'>Currency</span>
							<div class='toggle'>
								<label>
									<input type='checkbox' id='currency-toggle'>
									<span></span>
									<div data-before='$ USD' data-after='EUR €'></div>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class='link'>
					<a href='/product/editions'>Compare editions</a>
				</div>
			</div>
			<div class='ev-included'>
				<i class='la la-certificate'></i>
				<span>EV certificate included</span>
			</div>
		</div>

		<div class='column-layout'>
			<div class='features col'>
				<ul>
					<li class='head f'>Quotas</li>
					<li class='f include-sub'>Projects</li>
					<li class='f include-sub'>Users</li>
					<li class='sub-head f'>Signing requests 
						<span class='hint--top-right hint--medium' aria-label='Annual quota for signing requests. Note that each signing request can contain multiple files (see individual signatures quota below).'>
							<i class='las la-info-circle'></i></span></li>
					<li class='sub f include-sub'>release-signing
						<span class='hint--top-right hint--medium' aria-label='Signing requests using your EV certificate'>
							<i class='las la-info-circle'></i></span></li>
					<li class='sub f include-sub'>test-signing
						<span class='hint--top-right hint--medium' aria-label='Signing request using a test certificate that must be installed on target machines (e.g. testing the signing configuration, signing internal builds, release candidates etc.)'>
							<i class='las la-info-circle'></i></span></li>
					<li class='sub-head f'>Artifact retention 
						<span class='hint--top-right hint--medium' aria-label='Articafts will be deleted after the specified retention time'>
							<i class='las la-info-circle'></i></span></li>
					<li class='sub f'>release-signing</li>
					<li class='sub f'>test-signing</li>
					<li class='f'>Artifact volume 
						<span class='hint--top-right hint--medium' aria-label='Annual upload quota'>
							<i class='las la-info-circle'></i></span></li>
					<li class='f'>Individual signatures 
						<span class='hint--top-right hint--medium' aria-label='Fair-use annual quota of individual files signed as part of signing requests (see signing request quota above).'>
							<i class='las la-info-circle'></i></span></li>
					<li class='f'>CI pipelines 
						<span class='hint--top-right hint--medium' aria-label='Limits the number of parallel signing requests'>
							<i class='las la-info-circle'></i></span></li>
				</ul>
			</div>
			{% for product in site.data['pricing'] %}
				<div class='content col'>
					<div class='product-header'>
						<h2>{{ product.name }}</h2>
						<h3>
							<span class='price' data-base_price='{{ product.base_price }}'>
								${{ product.base_price }}
							</span>
							<span class='price-sub'>per year</span>
						</h3>
					</div>
					<ul>
						<!-- TODO what are data-* values for? they should probably be removed or updated from javascript too -->
						<li class='first-after-header first-after-main-header'>
							<span class='num-projects' data-num_projects_included='{{ product.num_projects_included }}' data-num_projects_max='{{ product.num_projects_max }}' data-price_per_project='{{ product.price_per_project }}'>{{ product.num_projects_included }}</span>
							<span class='sub'><span class='currency-amount' data-value='{{ product.price_per_project }}'>${{ product.price_per_project }}</span> per additional project ({{ product.num_projects_max }} max)</span>
						</li>
						<li>
							<span class='num-users' data-num_users_included='{{ product.num_users_included }}' data-num_users_max='{{ product.num_users_max }}' data-price_per_user='{{ product.price_per_user }}'>{{ product.num_users_included }}</span>
							<span class='sub'><span class='currency-amount' data-value='{{ product.price_per_user }}'>${{ product.price_per_user }}</span> per additional user ({{ product.num_users_max }} max)</span>
						</li>
						<li class='first-after-header'>
							<span class='num-release-signings' data-value='{{ product.num_release_signings_per_project }}'>{{ product.num_release_signings_per_project | times: product.num_projects_included }}</span><span class='sub'>per year</span>
						</li>
						<li>
							<span class='num-test-signings' data-value='{{ product.num_test_signings_per_project }}'>{{ product.num_test_signings_per_project | times: product.num_projects_included }}</span><span class='sub'>per year</span>
						</li>
						<li class='first-after-header'>
							<span>{{ product.release_signing_retention }}</span>
						</li>
						<li>
							<span>{{ product.test_signing_retention }}</span>
						</li>
						<li><span class='num-gb-per-project' data-value='{{ product.num_gb_per_project }}'>
							{{ product.num_gb_per_project | times: product.num_projects_included }} </span> GB</li>
						<li><span class='num-individual-signatures-per-project' data-value='{{ product.num_release_signings_per_project | plus: product.num_test_signings_per_project | times: product.num_projects_included | times: 100 }}'>
							{{ product.num_release_signings_per_project | plus: product.num_test_signings_per_project | times: product.num_projects_included | times: 100}}</span></li>
						<li><span class='num-ci-pipelines' data-value='{{ product.num_ci_pipelines }}' data-ci_pipelines_per_project='{{ product.ci_pipelines_per_project }}'>
							{{ product.num_ci_pipelines | times: product.num_projects_included }}</span></li>
					</ul>
					<a class='btn btn-primary footer' href='https://secure.2checkout.com/order/checkout.php?PRODS={{ product.product_id.one_year[jekyll.environment] }}&QTY=1&CART=1&CARD=1&CLEAN_CART=1&CURRENCY=USD&DCURRENCY=USD' data-productid_one_year='{{ product.product_id.one_year[jekyll.environment] }}' data-productid_three_years='{{ product.product_id.three_years[jekyll.environment] }}'>Buy</a>
				</div>
			{% endfor %}
			<div class='editions-dialog'>
				<div>
					<span>Contact us for information about other available editions.</span>
					<div>
						<a class='btn btn-primary' href='mailto:sales@signpath.io?Subject=Enterprise%20subscription'>Contact us</a>
					</div>
				</div>
			</div>
		</div>
		<div class='info'>
			<h3>Certificates</h3>
			<ul>
				<li> <strong>EV certificates</strong> provided by <a href="https://shop.globalsign.com/en/code-signing">GlobalSign</a>.</li>
				<li> <strong>GlobalSign code signing certificates can be issued in the name of a legally registered organization only.</strong> </li>
				<li> Your authority to get an EV certificate on behalf of your organization will be verified by GlobalSign. This might take a few days. </li>
				<li> You can immediately <strong>install and use your test certificate</strong>. See <a href='/code-signing/test-certificates'>managing test certificates</a> for instructions.</li>
			</ul>
			<h3>Billing</h3>
			<ul>
				<li> All plans are <strong>billed up-front</strong> for the entire period. </li>
				<li> <strong>Prices are without taxes.</strong> If local taxes are added when you click buy, switch <em>billing information</em> to <em>company</em> and enter your <em>VAT ID</em></i>. (For some regions, sales tax may still be charged.) </li>
			</ul>
			<p>
				<i class='la la-info-circle'></i> For special inquiries or more information, please <strong><a href='mailto:sales@signpath.io'>contact us</a></strong>.
			</p>
	</div>
</section>

{% include footer.html %}