{% include header.html %}

<section class="bg-blue font-white top-section">
	<div>
		<h1>{{ page.header }}</h1>
	</div>
</section>
<section class="resources-section">
	<div>
		{% assign parts = page.path | split:"/" %}
		{% assign root = parts[1] %}
		{% if site.data.menus contains parts[1] %}
			<aside>
				<ul>
					{% for entry in site.data.menus[root] %}
						<li>
							<a href='/{{parts[0]}}/{{parts[1]}}/{{entry.path}}'>{{ entry.text }}</a>
							{% if parts.size > 2 %}
								{% assign tail = parts[2] | split:"." %}
								{% if tail[0] == entry.path %}
									{{ content | toc_only }}
								{% endif %}
							{% endif %}
						</li>
					{% endfor %}	
				</ul>
			</aside>
		{% endif %}
		<article>
			{{ content }}
		</article>
	</div>
</section>
{% include footer.html %}