{% include header.html %}

<section class="bg-blue font-white top-section">
	<div>
		<h1>{{ page.header }}</h1>
	</div>
</section>
<section class="resources-section">
	<div>
		{% assign parts = page.path | split:"/" %}
		{% assign parent = parts[-3] %}
		{% if site.data.menus contains parts[-3] %}
			<aside>
				<ul>
					{% for entry in site.data.menus[parent] %}
						{% assign className = nil %}
						{% if parts.size > 2 %}
							{% assign tail = parts[-2] | split:"." %}
							{% if tail[0] == entry.path %}
								{% assign className = 'active' %}
							{% endif %}
						{% endif %}
						{% if entry.separator %}
						<li class='separator' />
						{% else %}
						<li class='{{ className }}'>
							<a href='../{{entry.path}}/'>{{ entry.text }}</a>
							{% if tail[0] == entry.path %}
								{% include toc.html html=content h_max=2 %}
							{% endif %}
						</li>
						{% endif %}
					{% endfor %}	
				</ul>
			</aside>
		{% endif %}
		<article>
			{{ content }}
		</article>
	</div>
</section>
{% include footer.html %}