{% if main_header != null %}
	{% assign title = "SignPath - " | append: page.main_header | append: " - " | append: page.sub_header %}
{% else %}
	{% assign title = "SignPath - " | append: page.sub_header %}
{% endif %}
{% include header.html %}

<section class="bg-blue font-white top-section">
	<div>
		<h1>{% if page.main_header %}<span class='no-break'>{{ page.main_header }} <i class='la la-angle-right'></i> </span>{% endif %} {{ page.sub_header }}</h1>
	</div>
</section>
<section class="resources-section">
	<div>
		{% assign parts = page.path | split:"/" %}
		{% assign parent = parts[-3] %}
		{% if site.data.menus contains parts[-3] %}
			<aside>
				<ul>
					{% for entry in site.data.menus[parent] %}
						{% assign className = nil %}
						{% if parts.size > 2 %}
							{% assign tail = parts[-2] | split:"." %}
							{% if tail[0] == entry.path %}
								{% assign className = 'active' %}
							{% endif %}
						{% endif %}
						{% if entry.separator %}
						<li class='separator' />
						{% else %}
						<li class='{{ className }}'>
							<a href='../{{entry.path}}/#'>{{ entry.text }}</a>
							{% if tail[0] == entry.path %}
								<div class="no-mobile" >
									{% include toc.html html=content h_max=2 %}
								</div>
							{% endif %}
						</li>
						{% endif %}
					{% endfor %}	
				</ul>
			</aside>
		{% endif %}
		<article>
			{% if page.show_toc %}
				{% include toc.html class="article-toc" html=content h_max=page.show_toc %}
			{% else %}
				{% include toc.html class="article-toc.mobile-only" html=content h_max=2 %}
			{% endif %}
				
			{{ content }}
		</article>
	</div>
</section>
{% include footer.html %}